{
  // Configuration for JavaScript files
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports", "tailwindcss"],
      "extends": [
        "plugin:tailwindcss/recommended",
        "airbnb",
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true,
            "endOfLine": "auto"
          }
        ],
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-boolean-value": "off", // Disable boolean value rule because I don't like it.
        "react/jsx-curly-brace-presence": "off", // Disable curly brace rule because it's not working with Next.js
        "sort-imports": "off", // Disable sort-imports because it's already handled by `eslint-plugin-simple-import-sort`
        "import/no-extraneous-dependencies": "off",
        "react/function-component-definition": "off", // Disable Airbnb's specific function type
        "react/destructuring-assignment": "off", // Vscode doesn't support automatically destructuring, it's a pain to add a new variable
        "react/require-default-props": "off", // Allow non-defined react props as undefined
        "react/jsx-props-no-spreading": "off", // _app.tsx uses spread operator and also, react-hook-form
        "@next/next/no-img-element": "off", // We currently not using next/image because it isn't supported with SSG mode
        "@typescript-eslint/comma-dangle": "off", // Avoid conflict rule between Eslint and Prettier
        "@typescript-eslint/consistent-type-imports": "error", // Ensure `import type` is used when it's necessary
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "no-restricted-syntax": [
          "error",
          "ForInStatement",
          "LabeledStatement",
          "WithStatement"
        ], // Overrides Airbnb configuration and enable no-restricted-syntax
        "import/prefer-default-export": "off", // Named export is easier to refactor automatically
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ]
      }
    },
    // Configuration for testing
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": [
        "jest",
        "jest-formatting",
        "testing-library",
        "jest-dom",
        "dom"
      ],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest-formatting/recommended",
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended"
      ],
      "rules": {
        "strict": "off",
        "jest/expect-expect": "off",
        "jest/no-standalone-expect": "off",
        "jest/valid-expect": "off",
        "jest/valid-expect-in-promise": "off",
        "jest/no-conditional-expect": "off",
        "jest/no-restricted-matchers": "off",
        "jest/no-try-expect": "off",
        "jest/no-alias-methods": "off",
        "jest-formatting/padding-around-all": "off",
        "jest-formatting/padding-around-test-blocks": "off",
        "react/button-has-type": "off",
        "testing-library/prefer-screen-queries": "off"
      }
    },

    // Configuration for Storybook
    {
      "files": ["*.stories.*"],
      "extends": ["plugin:storybook/recommended"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
