@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  min-height: 100dvh;
}
body {
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 0 0% 10%; /* Dark background from the space */
    --foreground: 220.9 39.3% 70%; /* A light foreground color for contrast */
    --card: 262.1 83.3% 50%; /* A shade from the nebula */
    --card-foreground: 210 20% 98%; /* Bright foreground for cards */
    --popover: 220 14.3% 40%; /* Slightly muted background for popovers */
    --popover-foreground: 210 20% 98%; /* Bright foreground for popovers */
    --primary: 262.1 83.3% 57.8%; /* Primary color from the planets */
    --primary-foreground: 210 20% 98%; /* Bright text on primary */
    --secondary: 220 14.3% 40%; /* Muted secondary color */
    --secondary-foreground: 220.9 39.3% 70%; /* Brighter secondary foreground */
    --muted: 220 14.3% 30%; /* Muted background color */
    --muted-foreground: 220 8.9% 60%; /* Muted foreground color */
    --accent: 220 14.3% 50%; /* Accent color from stars */
    --accent-foreground: 220.9 39.3% 80%; /* Bright accent foreground */
    --destructive: 0 84.2% 60.2%; /* Reddish color for destructive actions */
    --destructive-foreground: 210 20% 98%; /* Bright foreground for destructive */
    --border: 220 13% 25%; /* Muted border color */
    --input: 220 13% 30%; /* Input field background color */
    --ring: 262.1 83.3% 57.8%; /* Primary color for focus rings */
    --radius: 0.5rem; /* Keeping the radius the same */
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  /* shake the bottom back and forth*/

  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*scrollbar sleek */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(123, 58, 235);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 2, 6);
}

.card {
  @apply bg-card text-card-foreground;
}

.conic-gradient {
  background: linear-gradient(
    40deg,
    rgba(0, 2, 6, 0.5) 50%,
    rgba(0, 2, 6, 0.5) 50%
  );
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 200%;
  height: 50%;
  transform: rotate(360deg);
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;

  animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1);
  animation-name: in;
  animation-play-state: running;
}
@keyframes in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*body:hover > .cursor-glow {*/
/*  z-index: -1;*/
/*}*/

.cursor-glow {
  z-index: -1;
  pointer-events: none;
}

.animated-gradient {
  width: 100%;
  height: 100%;
  background-size: 200% 200%;
  /*background-position: 0% 50%;*/
  /*background-repeat: no-repeat;*/
  /*background-blend-mode: difference;*/
  background-image: linear-gradient(
    -45deg,
    #ee775250,
    #e73c7e50,
    #23a6d550,
    #007aff
  );
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-beat {
  animation: beat 1s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}
